$default_color: #000000;

body 
{
    max-width: 1200px;

    font-family:'Times New Roman', Times, serif;

    background-color: #ffffff;
    color: #000000;

    margin: 80px;
    margin-left: 80px auto;

    font-size: 17px;
}

h1
{
    color: $default_color;
    font-size: 80px;
    text-align: center;
}

h2
{
    color: $default_color;
    font-size: 40px;
    text-align: center;
}

header
{
    color: $default_color;
    font-size: 17px;

    
}
    header a
    {
        color: $default_color;
        text-decoration: none;
    }

    header nav
    {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
main
{

}

footer
{
    
}
    footer a
    {
        color: #ff0000;
    }   